<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartbus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".driver.StudentLocation" android:parentActivityName=".driver.StudentProfile"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1IuCG-ecYL2jqSOMaQXndsKQhl_W049o" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".driver.Scan" />
        <activity
            android:name=".SigninActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".student.RateDriver"
            android:parentActivityName=".student.StudentPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".student.DriverFeedback"
            android:parentActivityName=".student.StudentPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".student.StudentPayment"
            android:parentActivityName=".student.StudentPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".student.EditStudentProfile"
            android:parentActivityName=".student.StudentPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".student.StudentPage"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".driver.StudentProfile"
            android:parentActivityName=".driver.DriverPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".driver.RateStudent"
            android:parentActivityName=".driver.DriverPage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".driver.EditDriverProfile"
            android:parentActivityName=".driver.DriverPage"
            android:screenOrientation="fullSensor" />
        <activity android:name=".student.StudentList" />
        <activity
            android:name=".driver.DriverPage"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>